.form {
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 207, 233, 1) 100%
  );
  height: 150vh;
  font-family: "Quicksand";
  color: #333;
}
.form-edit {
  background: inherit;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: "Quicksand";
  color: #333;
  padding-top: 5px;
  padding-bottom: 5px;
}

.form-input {
  border-radius: 5px;
  margin-left: 5px;
  width: 230 px;
}

.form-inputs input {
  width: 250px;
}

.form-content-right p {
  color: red;
}

fieldset {
  background-color: white;
  margin: 8px;
  border: 1px solid silver;
  padding: 8px;
  border-radius: 7px;
  display: inline-block;
  padding-left: 22px;
  padding-right: 22px;
  border: 1px solid white;
}

.form-input-btn {
  margin-top: 30px;
  background: rgba(238, 174, 202, 1);
  border: none;
  padding: 14px 24x;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.form-input-btn:active {
  position: relative;
  top: 1px;
}
.form-content-right {
  margin: 0 auto;
  text-align: center;
}
.form-content-right label {
  text-align: left;
  display: block;
}
.form-content-right h1 {
  font-family: "Quicksand";
  color: #333;
  font-weight: lighter;
}
